<div class="golfer-bg">
  <div class="container">

    <div class="row">
      <h1 class="text-center">{{ golfer.firstName }} {{ golfer.lastName }}</h1>
      <p>
        <strong>Email: </strong>{{ golfer.email }}</p>
      <p>
        <strong>Age: </strong>{{ golfer.age }}</p>
      <p>
        <strong>Handicap: </strong>{{ golfer.handicap}}</p>
      <p>
        <strong>Locations: </strong>
        <span class="unavailable" ng-class="{'available' : golfer.locations.losAngeles}">Los Angeles </span>
        <span class="unavailable" ng-class="{'available' : golfer.locations.orangeCounty}">Orange County </span>
        <span class="unavailable" ng-class="{'available' : golfer.locations.riverside}">Riverside </span>
      </p>
      <p>
        <strong>Availability: </strong>

        <span class="unavailable" ng-class="{'available' : golfer.availability.monday}">M </span>
        <span class="unavailable" ng-class="{'available' : golfer.availability.tuesday}">Tu </span>
        <span class="unavailable" ng-class="{'available' : golfer.availability.wednesday}">W </span>
        <span class="unavailable" ng-class="{'available' : golfer.availability.thursday}">Th </span>
        <span class="unavailable" ng-class="{'available' : golfer.availability.friday}">F </span>
        <span class="unavailable" ng-class="{'available' : golfer.availability.saturday}">Sa </span>
        <span class="unavailable" ng-class="{'available' : golfer.availability.sunday}">Su </span>

      </p>
      <p>
        <strong>Bio: </strong>{{ golfer.bio }}</p>


      <button class="btn btn-lg btn-info" ui-sref="app.golfersUpdate({id: golfer.id})">Update</button>
      <button class="btn btn-lg btn-danger" ng-click="deleteGolfer()">Delete</button>
    </div>

  </div>
</div>